
<div class="card-wrapper">
  <mat-card>   
    <mat-card-content>
      <mat-card-title>Listing for search and selection</mat-card-title>
      <mat-card-subtitle>
        Search above the list and, beneath the list,one or two sublists of the related (child or parent and child of the same table
      </mat-card-subtitle>
      <mat-card-actions>

      </mat-card-actions>
      	<mat-list>
		  <mat-list-item>Item 1</mat-list-item>
		  <mat-list-item>Item 2</mat-list-item>
		  <mat-list-item>Item 3</mat-list-item>
		</mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card>   
    <mat-card-content>
      <mat-card-title>detail of the selected list</mat-card-title>
      <mat-card-subtitle>
        With a fix panel for data of the selected item in the list and one expansion panel for each linked table .
      </mat-card-subtitle>
      
      	<mat-card>
			Data of the selected item			
		</mat-card>
			<mat-expansion-panel>
			  <mat-expansion-panel-header>
			    <mat-panel-title>
			      Risks related to the Work Context
			    </mat-panel-title>
			    <mat-panel-description>
			      Listing of risks linked and possibility to update the list
			    </mat-panel-description>
			  </mat-expansion-panel-header>
			  
				  <mat-form-field>
				    <input matInput placeholder="Risk name">
				  </mat-form-field>
			  
				  <mat-form-field>
				    <input matInput placeholder="Risk level">
				  </mat-form-field>
			</mat-expansion-panel>
			
			<mat-expansion-panel>
			  <mat-expansion-panel-header>
			    <mat-panel-title>
			      Employees related to the Work Context
			    </mat-panel-title>
			    <mat-panel-description>
			      Listing of employees linked and possibility to update the list
			    </mat-panel-description>
			  </mat-expansion-panel-header>
			  
				  <mat-form-field>
				    <input matInput placeholder="First name">
				  </mat-form-field>
			  
				  <mat-form-field>
				    <input matInput placeholder="Job <title>`substitute(Filename('', 'Page Title'), '^.', '\u&', '')`</title>">
				  </mat-form-field>
			</mat-expansion-panel>
			
      <mat-card-actions>
		 Button actions
		 	<button mat-raised-button>Basic</button>
		  	<button mat-raised-button color="primary">Primary</button>
		  	<button mat-raised-button color="accent">Accent</button>
		  	<button mat-raised-button color="warn">Warn</button>
		  	<button mat-raised-button disabled>Disabled</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
